parameters:
    level: 7
    paths:
        - src/
    ignoreErrors:

        # Je ne veux pas reposer sur les annotations de type array{…}
        -
            identifier: missingType.iterableValue
#        -
#            identifier: missingType.generics

services:
    -
        class: App\Tests\PHPStan\Rules\DomainDependencyUseRule
        tags:
            - phpstan.rules.rule

